{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <style>

     .panel-body {
         width: 80%;
         color: var(--red);
     }

     .panel-heading {
         text-transform: uppercase;
         font-weight: bold;
     }

     .panel-body {
         text-transform: capitalize;
     }

     .panel {
         background-image: none;
     }

     /* Form Submit = Bootstrap ID for Submit Button */
     /* Ging mit BigRedButton hier nicht da der Tag so anders nicht formatiert werden konne */
     #form_submit {
         background-color: var(--red);
         color: #FFF;
         width: 20vw;
         padding: 10px 20px;
         display: block;
         border-radius: 10px;
         border: none;
         text-decoration: none;
         text-align: center;
     }

     #form_submit:hover {
         background: #c10612;
         cursor: pointer;
     }

    </style>

    <br>
    <div class="panel" id="panelcss">
        <div class="panel-heading">
            <!-- "" Damit es für den User leichter erkenntlich ist -->
            <h2>Current User   -  "{{ user.username }}"</h2>
        </div><br>

        <div class="panel-body">

            {{ form_start(form , {'attr': {'novalidate':'novalidate'}} ) }}

            {{ form_row(form.username, {attr: {class: 'text'} }) }}
            {{ form_row(form.email, {attr: {class: 'text'} }) }}
            {{ form_row(form.firstname, {attr: {class: 'text'} }) }}
            {{ form_row(form.lastname, {attr: {class: 'text'} }) }}
            {{ form_row(form.email, {attr: {class: 'text'} })  }}
            {{ form_row(form.roles) }}
            <a href="{{ path('password_recover', {'id': user.id }) }}">Recover Password</a>

            <button type="submit" class="bigredbutton">Submit</button>
            {{ form_end(form) }}


        </div>
    </div>

{% endblock %}