<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}New Member{% endblock %}</title>

    <!-- Including the Stylesheet -->

    <link rel="stylesheet" href= "{{ asset('assets/css/newMember.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>
<body>
{% block body %}

    <div class="login">

        <img  src=" {{ asset('Assets/img/logo_white.png') }}" alt="logout symbol"><br>

        <!-- Headline of the Register Form  -->
        <h2 class="active"> Neues Mitglied anlegen</h2>


        {{ form_start(form , {'attr': {'novalidate':'novalidate'}} ) }}
            {{ form_row(form.standesbuchnummer, {attr: {class: 'text'} }) }}
            {{ form_row(form.dienstgrad, {attr: {class: 'text'} }) }}
            {{ form_row(form.vorname, {attr: {class: 'text'} }) }}
            {{ form_row(form.nachname, {attr: {class: 'text'} }) }}
            {{ form_row(form.telefonNr, {attr: {class: 'text'} }) }}
            {{ form_row(form.mobil, {attr: {class: 'text'} }) }}
            {{ form_row(form.email, {attr: {class: 'text'} })  }}
            {{ form_row(form.atemschutztauglich) }}
        <button type="submit" class="signin">Add member</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
</body>
</html>
