{% extends 'base.html.twig' %}

{% block title %}Schwarzes Brett{% endblock %}

{% block body %}

    <style>
        #newsheading {
            font-size: 3em;
            margin-bottom: 0;
        }
        .imagebutton {
            background-color: var(--red);
            color: #FFF;
            width: 8vw;
            padding: 10px 20px;
            display: block;
            border-radius: 10px;
            border: none;
            text-decoration: none;
            text-align: center;
            transition: all 0.5s ease-in-out;
            margin-right: 3%;
            margin-left: 3%;
        }

        .imagebutton:hover {
            background: #c10612;
            cursor: pointer;
            color: #FFF;
            text-decoration: none;
            /*  box-shadow: 0px 4px 35px -5px #c10612;  */
        }

        @media (max-width: 680px) {
            .imagebutton {
                width: 85%;
                margin-top: 3%;
                margin-bottom: auto;
                margin-left: auto;
                margin-right: auto;
            }

        }
    </style>

    <h1 id="newsheading">News</h1><br><hr><br>

    <!--Permission Überprüfung -->
    {% if is_granted('ROLE_REGISTERED') %}
        <a href="{{ path('blackboard_neu') }}" class="bigredbutton">Neuen Feed anlegen</a><br><hr><br>
    {% endif %}

    <!-- CARDS STARTING -->
    <section>
        <div class="container">
            <div class="row">

                {%  for entry in feeds %}

                    <div class="blog-card">
                        <div class="description">
                            <h2>{{ entry.title }}</h2>
                            <h3>Beitrag erstellt am: {{ entry.date }}</h3>
                            <p>{{ entry.feed }}</p><br>
                            <div id="buttons">
                                {% if is_granted('ROLE_REGISTERED') %}
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="imagebutton">
                                                <a href="{{ path('feed_edit', {'id':entry.idfeed}) }}">
                                                    <img border="0" alt="EditIcon" src="{{ asset('assets/img/entries.svg') }}" width="20"
                                                         height="20">
                                                </a>
                                            </div>
                                            <div class="imagebutton">
                                                <a href="{{ path('feed_delete', {'id':entry.idfeed}) }}">
                                                    <img border="0" alt="DeleteIcon" src="{{ asset('assets/img/delete_big.svg') }}" width="20"
                                                         height="19">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <!-- Pen :  https://codepen.io/ChynoDeluxe/pen/bdXeqQ -->

{% endblock %}

