{% extends 'base.html.twig' %}

{% block title %}Info & Downloads{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href= "{{ asset('assets/css/info.css') }}">
{% endblock %}


{% block body %}
    <h1>Info & Downloads</h1>

    <div class="col-md-12">
        <div class="row">
            <div id="accordion" class="panel-group">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panelBodyOne" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="15" height="15" viewBox="0 0 451.846 451.847">
                                        <g><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744 	L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284 c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></g>
                                    </svg>
                                </i>
                                Wichtige Dokumente
                            </a>
                        </h4>
                    </div>
                    <div id="panelBodyOne" class="panel-collapse collapse show in">
                        <div class="panel-body">
                            <div class="panel-content">
                                 <form>
                                    <div class="form-group row">
                                        <label for="example-date-input" class="col-2 col-form-label">Datum</label>
                                        <div class="col-8">
                                            <input class="form-control" type="date" value="2018-11-9" id="example-date-input">
                                        </div>
                                        <button class="col-2 btn">Generieren</button>
                                    </div>
                                </form>
                                <ul>
                                    <li>
                                        <a href="#" download>
                                            <i><img src="{{ asset('assets/img/pdf.svg') }}" alt="home symbol"></i>
                                            <span>Atemschutzliste</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" download>
                                            <i><img src="{{ asset('assets/img/pdf.svg') }}" alt="home symbol"></i>
                                            <span>Brandeinsätze</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" download>
                                            <i><img src="{{ asset('assets/img/pdf.svg') }}" alt="home symbol"></i>
                                            <span>etc.</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panelBodyTwo" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="15" height="15" viewBox="0 0 451.846 451.847">
                                        <g><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744 	L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284 c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></g>
                                    </svg>
                                </i>
                                Mitgliederliste
                            </a>
                        </h4>
                    </div>
                    <div id="panelBodyTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="panel-content">
                                <!--  version 1 -->

                                <div id="users">
                                    <div class="container">

                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="list-group list">

                                                    {% for mitglied in mitglieder %}

                                                    <div class="list-group-item">
                                                        <div class="col-md-10">

                                                            <h4 class="list-group-item-heading name">{{ mitglied.standesbuchnummer }} - {{ mitglied.dienstgrad }} {{ mitglied.vorname }} {{ mitglied.nachname }}</h4>
                                                            <p class="list-group-item-text text" style="margin-bottom: 0;">{{ mitglied.adresse }}</p>
                                                        {% if mitglied.telefonNr %}
                                                            <p class="list-group-item-text text" style="margin-bottom: 0;">{{ mitglied.telefonNr }}</p>
                                                            {% endif %}
                                                            {% if mitglied.email %}
                                                            <p class="list-group-item-text text" style="margin-bottom: 0;">{{ mitglied.email }}</p>
                                                                {% endif %}
                                                            {% if mitglied.atemschutztauglich == 1 %}
                                                                <p class="list-group-item-text text" style="margin-bottom: 0;">Atemschutztauglich: JA</p>
                                                            {% elseif mitglied.atemschutztauglich == 0 %}
                                                                <p class="list-group-item-text text" style="margin-bottom: 0;">Atemschutztauglich: NEIN</p>
                                                            {% endif %}
                                                        </div>
                                                </div>

                                                        <div class="clearfix"></div>

                                                        {% endfor %}


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                             {#   <table class="table table-hover table-responsive">
                                    <thead>
                                    <tr>
                                        <th>{{ knp_pagination_sortable(mitglieder, 'standesbuchnummer', 'mg.sbn') }}</th>
                                    </tr>
                                    </thead>
                                </table>#}

                                {#{{ knp_pagination_render(mitglieder) }}#}

<!-- bis hierher version 1 -->





                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panelBodyThree" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="15" height="15" viewBox="0 0 451.846 451.847">
                                        <g><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744 	L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284 c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></g>
                                    </svg>
                                </i>
                                Häuserliste
                            </a>
                        </h4>
                    </div>
                    <div id="panelBodyThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="panel-content">
                                <p>Energistically drive standardized communities through user friendly results. Phosfluorescently initiate superior technologies vis-a-vis low-risk high-yield solutions. Objectively facilitate clicks-and-mortar partnerships vis-a-vis superior partnerships. Continually generate long-term high-impact methodologies via wireless leadership. Holisticly seize resource maximizing solutions via user friendly outsourcing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>




{% endblock %}