{% extends 'base.html.twig' %}

{% block title %}Statistik{% endblock %}


{% block body %}

    <link rel="stylesheet" href= "{{ asset('assets/css/statistics.css') }}">
    <link rel="stylesheet" type="text/css" href="http://www.prepbootstrap.com/Content/shieldui-lite/dist/css/light/all.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        window.onload = function() {

            function sliceSize(dataNum, dataTotal) {
                return (dataNum / dataTotal) * 360;
            }

            function addSlice(id, sliceSize, pieElement, offset, sliceID, color) {
                $(pieElement).append("<div class='slice "+ sliceID + "'><span></span></div>");
                var offset = offset - 1;
                var sizeRotation = -179 + sliceSize;

                $(id + " ." + sliceID).css({
                    "transform": "rotate(" + offset + "deg) translate3d(0,0,0)"
                });

                $(id + " ." + sliceID + " span").css({
                    "transform"       : "rotate(" + sizeRotation + "deg) translate3d(0,0,0)",
                    "background-color": color
                });
            }

            function iterateSlices(id, sliceSize, pieElement, offset, dataCount, sliceCount, color) {
                var
                        maxSize = 179,
                        sliceID = "s" + dataCount + "-" + sliceCount;

                if( sliceSize <= maxSize ) {
                    addSlice(id, sliceSize, pieElement, offset, sliceID, color);
                } else {
                    addSlice(id, maxSize, pieElement, offset, sliceID, color);
                    iterateSlices(id, sliceSize-maxSize, pieElement, offset+maxSize, dataCount, sliceCount+1, color);
                }
            }

            function createPie(id) {
                var
                        listData      = [],
                        listTotal     = 0,
                        offset        = 0,
                        i             = 0,
                        pieElement    = id + " .pie-chart__pie";
                dataElement   = id + " .pie-chart__legend";

                /* Hier auf Wunsch weiter Farben einbauen */
                color         = [
                    "orange",
                    "tomato",
                    "crimson",
                    "purple"
                ];

                color = shuffle( color );

                $(dataElement+" span").each(function() {
                    listData.push(Number($(this).html()));
                });

                for(i = 0; i < listData.length; i++) {
                    listTotal += listData[i];
                }

                for(i=0; i < listData.length; i++) {
                    var size = sliceSize(listData[i], listTotal);
                    iterateSlices(id, size, pieElement, offset, i, 0, color[i]);
                    $(dataElement + " li:nth-child(" + (i + 1) + ")").css("border-color", color[i]);
                    offset += size;
                }
            }

            function shuffle(a) {
                var j, x, i;
                for (i = a.length; i; i--) {
                    j = Math.floor(Math.random() * i);
                    x = a[i - 1];
                    a[i - 1] = a[j];
                    a[j] = x;
                }

                return a;
            }

            function createPieCharts() {
                createPie('.pieID--micro-skills' );
                createPie('.pieID--categories' );
                createPie('.pieID--operations' );
            }

            createPieCharts();

        }
    </script>

    <h1>Statistiken</h1>

    <!-- https://codepen.io/anthonykoch/pen/GpQYrJ -->

    <div id="wrapper2">
        <div class="statistics">
            <div class="consumption-panel">
                <div class="flex flex--justify-between">
                    <p>
                        Ausfahrten Insgesamt:
                    </p>
                </div>
                <h1 class="consumption">{{ gesamt }} Ausfahrten!</h1>
                <svg id="visualisation" width="600" height="100"></svg>

            </div>

            <div class="flex-1">
                <ul class="einsatz__list">
                    <li class="einsatz__item  einsatz__total">
                        <h2 class="einsatz__count">{{ einsaetze_last|number_format }}</h2>
                        <p class="einsatz__description">Ausfahrten {{ year-1 }}</p>
                    </li>

                    <li class="einsatz__item  einsatz__active">

                        <h2 class="einsatz__count">{{ gesamt }}</h2>

                        <p class="einsatz__description">Ausfahrten {{ year }}</p>
                    </li>
                </ul>
            </div>
            <!-- /.right-column -->

        </div>
        <!-- /.statistics -->
    </div>

    <!-- Neuer Versuch für mehr Staistiken - PieCharts -->
    <!-- Verwendeter Codepen: -->
    <!--https://codepen.io/MaciejCaputa/pen/VjVpRZ -->
    <!-- https://codepen.io/MaciejCaputa/pen/VjVpRZ -->

    <div class="wrapper">
        <div class="pie-charts">
            <div class="pieID--micro-skills pie-chart--wrapper">
                <h2>Ausfahrtsarten</h2>
                <div class="pie-chart">
                    <div class="pie-chart__pie"></div>
                    <ul class="pie-chart__legend">
                        <li><em>Einsätze</em><span>{{ einsaetze|number_format }}</span></li>
                        <li><em>Übungen</em><span>{{ uebungen|number_format }}</span></li>
                        <li><em>Tätigkeiten</em><span>{{ taetigkeiten|number_format }}</span></li>
                    </ul>
                </div>
            </div>
            <div class="pieID--categories pie-chart--wrapper">
                <h2>Einsätze pro Jahr</h2>
                <div class="pie-chart">
                    <div class="pie-chart__pie"></div>
                    <ul class="pie-chart__legend">
                        <li><em>{{ lastyear-1 }}</em><span>15</span></li>
                        <li><em>{{ lastyear }}</em><span>{{ einsaetze_last|number_format }}</span></li>
                        <li><em>{{ year }}</em><span>{{ einsaetze|number_format }}</span></li>
                    </ul>
                </div>
            </div>
            <div class="pieID--operations pie-chart--wrapper">
                <h2>Tätigkeiten pro Jahr</h2>
                <div class="pie-chart">
                    <div class="pie-chart__pie"></div>
                    <ul class="pie-chart__legend">
                        <li><em>{{ lastyear-1 }}</em><span>15</span></li>
                        <li><em>{{ lastyear }}</em><span>5</span></li>
                        <li><em>{{ year }}</em><span>{{ taetigkeiten|number_format }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <br>
    <hr>
    <br>

    <!--
https://dribbble.com/shots/2227352-Day-067-Smart-Home-UI/attachments/414148
-->





{% endblock %}