{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href= "{{ asset('assets/css/newsfeed.css') }}">
{% endblock %}
{% block body %}

    <style>
        a {
            color: white;
        }

        a:hover {
            text-decoration: none;
            color: white;
        }
    </style>

    <h1>Homepage</h1>

    <h2>Letzter Newspost</h2>
    <div id="firstentry">
        <div class="blog-card">
            <div class="description">
                <h2>{{ entry.title }}</h2>
                <h3>Beitrag erstellt am: {{ entry.date }}</h3>
                <p>{{ entry.feed }}</p><br>
            </div>
        </div>
    </div>

    
    <a href="{{ path('newentry') }}" class="bigredbutton">Eintrag hinzufügen</a>

{% endblock %}
