{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href= "{{ asset('assets/css/newsfeed.css') }}">
{% endblock %}
{% block body %}

    <style>
        a {
            color: white;
        }

        a:hover {
            text-decoration: none;
            color: white;
        }

    </style>

    <h1>Homepage</h1>

    <div class="blog-card">
        <div class="meta">
            <ul class="details">
                <p>Erstellt am: {{ entry.date }}<br>
                    Beitrag erstellt von: Autor </p>
            </ul>
        </div>
        <div class="description">
            <h1>{{ entry.title }}</h1>
            <h2>Beitrag erstellt am: {{ entry.date }}</h2>
            <p>{{ entry.feed }}</p><br>
        </div>
    </div>
    
    <button class="bigredbutton"><a href="{{ path('newentry') }}">Eintrag hinzufügen</a></button>

{% endblock %}
