{% extends 'base.html.twig' %}

{% block title %}Eintrag bearbeiten{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/editEntry.css') }}">
{% endblock %}


{% block body %}

    <h1>{{ kategorie }} bearbeiten</h1>

    {% for member in bForms %}
        {{ form(member, {'attr': {'novalidate':'novalidate' }} ) }}
    {% endfor %}

    {{ form(form, {'attr': {'novalidate':'novalidate', id: 'form-id'} }) }}



   <!-- <button type="submit" class="bigredbutton">Submit entry</button>-->

{% endblock %}

{% block javascripts %}<script src="{{ asset('assets/js/editEntry.js') }}"></script>{% endblock %}